/*Reset*/
body,
h1,
h2,
h3,
p,
ul {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: georgia, sans-serif;
  color: #252525;
}
/*menu*/
.menu {
  background: #252525;
}

.menu-logo {
  display: block;
  float: left;
  margin-left: 10px;
}
.menu-nav {
  float: right;
  margin-right: 10px;
}
.menu-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.125em;
}
/*Intro*/
.intro {
  background: url("../img/bg-intro.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.intro h1 {
  text-transform: uppercase;
  font-size: 3em;
}
.intro h1::after {
  content: "";
  display: block;
  width: 20px;
  height: 4px;
  background: #fff;
  margin: 10px auto;
}
.intro p {
  font-style: italic;
  font-size: 1.125em;
}
/*Sobre*/

.sobre {
  padding: 60px 0;
}

.sobre h2 {
  font-size: 2.25em;
}
.sobre-item h3 {
  font-size: 2.25em;
  line-height: 1em;
  background: #252525;

  color: #fff;
  font-style: italic;
  font-weight: normal;
}
.sobre > p {
  font-size: 1.125em;
  line-height: 1.4em;
  font-style: italic;
}
/*Produtos*/
.produtos {
  background: #e7e4d8;
}
.produtos-item h2 {
  font-size: 2.25em;
}
.produtos-item p {
  font-size: 0.875em;
  line-height: 1.4em;
}
.produtos-paulista::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background: #492901;
  border-radius: 50%;
  margin: 20px auto;
  border: 5px solid #e7e4d8;
  box-shadow: 0 0 0 10px #492901;
}
.produtos-carioca::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background: #c17139;
  border-radius: 50%;
  margin: 20px auto;
  border: 5px solid #e7e4d8;
  box-shadow: 0 0 0 10px #c17139;
}
.produtos-mineiro::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background: #d7a54d;
  border-radius: 50%;
  margin: 20px auto;
  border: 5px solid #e7e4d8;
  box-shadow: 0 0 0 10px #d7a54d;
}
.produtos-btn {
  border: 3px solid #252525;
  color: #252525;
  text-decoration: none;
  font-size: 1.125em;
  font-weight: bold;
  text-transform: uppercase;
}
.produtos-btn:hover {
  border-color: #fff;
}
/*Locais*/
.locais-item h2 {
  font-size: 2.25em;
}
.locais-item p {
  font-size: 1.125em;
  line-height: 1.4em;
}
.locais-item a {
  font-size: 1.125em;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid;
  color: #252525;
}
/*Newsletter*/
.assine {
  background: #e7e4d8;
}
.assine-info h2 {
  font-size: 1.125em;
}
.assine-info p {
  font-size: 1.5em;
  font-style: italic;
}

.assine input {
  box-sizing: border-box;
  border: 3px solid #252525;
  background: none;
  font-size: 1.5em;
  font-style: italic;
  font-family: georgia, serif;
  padding: 10px;
  float: left;
}
.assine button {
  background: #252525;
  border: none;
  font-family: georgia, serif;
  text-transform: uppercase;
  font-size: 1.5em;
  cursor: pointer;
  width: 140px;
  padding: 13px 0;
  color: #fff;
}
.footer {
  background: #d6d3c8;
  padding: 40px 0;
}

.footer p {
  float: left;
  margin: 0 10px;
  font-size: 1.125em;
  line-height: 1.4em;
}
.footer img {
  float: right;
  margin: 0 10px;
  display: block;
}
/*Tablets*/
@media (max-width: 739px) {
  .menu {
    text-align: center;
  }
  a.menu-logo {
    padding-bottom: 10px;
    float: none;
    margin: 0 auto;
  }
  .menu-nav {
    float: none;
    clear: both;
  }
  .intro {
    padding: 60px 0;
  }
}
@media (min-width: 740px) and (max-width: 980px) {
  .sobre-container {
    max-width: 720px;
  }
  .sobre-item {
    width: 340px;
  }
  .produtos-container {
    max-width: 720px;
  }
  .produtos-item {
    width: 220px;
  }
  .locais {
    max-width: 720px;
  }
  .locais-item > div,
  .locais-item img {
    width: 340px;
  }
  .assine-container {
    max-width: 720px;
  }
  .assine-info {
    width: 340px;
  }
  .assine form {
    width: 340px;
  }
  .assine input {
    width: 340px;
  }
}

@media (max-width: 739px) {
  .sobre-container {
    max-width: 300px;
  }
  .sobre-item {
    width: 300px;
    margin: 0 auto;
  }
  .produtos-container {
    max-width: 300px;
  }
  .produtos-item {
    margin: 0 auto 20px auto;
  }
  .locais {
    max-width: 300px;
  }
  .locais-item img {
    width: 300px;
    margin: 0 px;
  }
  locais-item > div,
  .locais-item img {
    width: 300px;
    margin: 0px;
  }
  .assine-container {
    max-width: 300px;
  }
  .assine-info,
  .assine form,
  .assine input {
    width: 300px;
    margin: 10px 0 0 0;
  }
  .footer-container {
    max-width: 300px;
  }
  .footer p {
    float: none;
    margin: 0;
  }
  .footer img {
    float: none;
    margin-top: 20px 0;
  }
}
